<div>
  <% @users.each do |user| %>
      <div>
        <img src='<%= user.photo %>' alt='User Profile photo' width='150' height='200' />
        <div>
          <p>
            <%= link_to user.name, user_url(user) %>
          </p>
          <small>Number of posts: <%= user.posts_counter %></small>
        </div>
      <div>
  <% end %>
</div>
<div></div>
